.goBackLink a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
.goBackLink {
  width: 100px;
  padding: 15px 30px;
  background-color: #737070;
  border-radius: 10px;
  margin-bottom: 20px;
}
.title {
  font-size: 30px;
}
.movieCard {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 20px;
  margin-bottom: 15px;
  font-size: 20px;
}
.subtitle {
  font-size: 26px;
  font-weight: bold;
}
.moreInfoBtnList {
  list-style: none;
  display: flex;
}
.moreInfoBtn {
  width: 100px;
  padding: 15px 30px;
  background-color: #737070;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  text-align: center;
}
.moreInfoBtn a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
